<mat-card *ngFor="let evento of eventos" class="eventoRead mat-elevation-z4">
    
    <ul>
        <i class="config1 material-icons">
            mode_edit_outline
        </i>
        <i class="config2 material-icons">
            delete
        </i>
        <li >
            <i  class="material-icons">
                person
            </i>
            {{ evento.nome }}
        </li>
        <li >
            <i  class="material-icons">
                location_on
            </i>
            {{ evento.local }}
        </li>
        <li >
            <i  class="material-icons">
                today
            </i>
            {{ evento.data }}
        </li>
        <li >
             <i  class="material-icons">
                 access_alarm
             </i>
             {{ evento.horario }}
         </li>
     </ul>
  </mat-card>